body{
    background: #BBB;
    padding: 40px;
}


.button{
    display: inline-block;
    background-color: #add8e6;
    margin: 5px;
    vertical-align:middle;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    font-weight: 900;
    width: 70px;
    padding-left: 10px;
}

.label{
    position:absolute;
    left: 90px;
    font-size:1.3em;
    display: inline-block;

}

.button:hover{
    background: #72bcd4;
    padding-left: 8px;
    padding-right:7px;
}

.error{
    position:absolute;
    left: 400px;
    font-weight: 900;
    display: inline-block;
    color: red;
}

input{
    position: absolute;
    left: 180px;
    vertical-align:middle;
    border-radius: 10px;
    color: black;
    max-width: 400px;
}

textarea{
    display: inline-block;
    position:relative;
    left: 50px;
    background-color: #e6adbc;
    margin: 5px;
    vertical-align:middle;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    width:410px;
    padding-bottom: 10px;
    resize:none;

}

.field{
    display: inline-block;
    width: 200px;
    padding: 3px;
}

.small{
    width: 65px;
}

.message{
    background-color: #e6adbc;
    margin: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    width: 800px;
    padding:10px;
}

.post{
    display: inline-block;
    position:relative;
    left: 50px;
    background-color: #e6adbc;
    margin: 5px;
    vertical-align:middle;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    max-width: 400px;
    width:400px;
    padding-bottom: 10px;
}

.postheader{
    background-color:#da869c;
    padding: 5px;
    margin: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.foruminput{
    display: inline-block;
    position:relative;
    left: 50px;
    margin: 5px;
    vertical-align:middle;
    border-radius: 10px;
    color: black;
    max-width: 400px;
}

.forumlink{
    display: inline-block;
    position:absolute;
    left: 70px;
    width: 220px;
    background-color: #add8e6;
    margin: 5px;
    vertical-align:middle;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding-left: 20px;
}
.forumlink:hover{
    background-color: #72bcd4;
    padding-left:16px;
}
.new{
    background-color: #ade6bb;
}
.new:hover{
    background-color: #72d48a;
}

.replybutton{
    display: inline-block;
    position:absolute;
    top: 150px;
    z-index:5;
    left: 420px;
    width: 40px;
    background-color: #add8e6;
    margin: 5px;
    vertical-align:middle;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
    color: black;
    font-weight: 900;

}
